frontend/node_modules/
frontend/.next/
frontend/.env.local

backend/env/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/db.sqlite3
backend/.env

node_modules/
dist/
build/

.env
.env.local

.DS_Store
Thumbs.db